 
<div class="card" style="width: 400px">
    <img class="card-img-top" src="~/iamges/1.jpg" alt="Card image cap">
    <div class="card-body">
        <h4 class="card-title">@Model.Name</h4>
        <p class="card-text">@Model.Description - @Model.Price</p>
        
        
    
    </div>
</div>
<a href="/product/showmg">Show Msg</a>